{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Jobs | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">Jobs</h2>
        </header><!-- /archive-header -->

        <section class="pricing pricing-1">
            <div class="container">


                <div class=" full_section_inner clearfix">
                    <div class="col-sm-6">
                        <div class="wpb_wrapper">
                            <h5>VYPER RECRUTE</h5>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>
                                        Le monde de la musique vous a toujours attiré ? Prendre la plume ne vous fait pas peur et il n’est pas rare que vous partagiez vos expériences via des textes ou des articles ? Alliez les deux en nous rejoignant et gagnez en expérience dans le monde de la j-music grâce à <strong>VYPER Japanese Music</strong>.
                                        <br>
                                        Nous ne demandons aucuns diplômes, aucunes connaissances en informatique. Une bonne dose de motivation ainsi qu’une très bonne connaissance de la langue française peut vous permettre de rejoindre notre équipe.
                                        <br>
                                        Différents postes sont à pourvoir, n’hésitez pas à nous contacter à cette adresse : <a class="hide-contact" href="#">contact</a> en précisant le poste pour lequel vous candidatez.
                                    </p>


                                </div>
                            </div> <div class="separator  transparent center  " style="margin-top: 93px;margin-bottom: 0px;"></div>

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="wpb_wrapper">
                            <h5>NOS VALEURS</h5>
                            <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                    <p>
                                        <strong>Motivation</strong>
                                        <br>
                                        Nous cherchons des gens motivés. La motivation est la clef pour produire un travail de qualité.
                                        <br>
                                        <strong>Proposition</strong>
                                        <br>
                                        Chez VYPER Japanese Music, il n'est pas seulement question de motivation, mais aussi savoir prendre des initiatives.
                                        <br>
                                        <strong>Professionalisme</strong>
                                        <br>
                                        VYPER est reconnu par son professionalisme. Nous cherchons des gens capable de perpétuer cette valeur.
                                    </p>


                                </div>
                            </div> <div class="separator transparent center" style="margin-top: 93px;margin-bottom: 0px;"></div>

                        </div>
                    </div>
                </div>

                <h4>REDACTEUR/TRICE</h4>


                <p>
                    Les critiques acérées des lecteurs ne vous effraient pas, et vous aimez décortiquer la dernière sortie d’un groupe, partager un concert ou encore partager l’interview d’un artiste… N’hésitez pas, sortez votre plus belle plume et venez-vous créer une place au sein de notre équipe.
                </p>

                <h4>CORRECTEUR/TRICE</h4>
                <p>
                    Parce que la langue française ne se résume pas au langage sms mais également car personne n’est parfait, nous avons besoin de personnes prêtes à jeter un œil nouveau sur les articles avant leur parution afin de les rendre plus fluide et plus compréhensible par nos lecteurs. Poste tout aussi important que celui de rédacteur.
                </p>


            </div>
        </section>

        <section class="features features-13 red">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                        <h5 class="text-white">Le nombre de poste est voué à évoluer au cours de l’agrandissement de notre structure. Il se peut que vous commenciez rédacteur pour ensuite toucher à des domaines plus vastes. VYPER Japanese Music est une association en perpétuelle évolution, n’hésitez pas à nous rejoindre !</h5>
                        <a class="qbutton white" href="{{ path('vyper_site_contact') }}">CONTACTEZ-NOUS</a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}