{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Magazine | {{ parent() }}{% endblock %}

    {% block content %}

        <div class="main-container">



            <section class="features features-7">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                            <h1>
                                UN MAGAZINE UNIQUE EN FRANCE
                            </h1>
                            <h5>
                                VYPER est le magazine papier de la musique Japonaise en France.
                                Nous vous offrons la possibilité de suivre tous les 2 mois l'actualité
                                du J-Rock et Visual-Kei
                            </h5>

                        </div>
                    </div>
                </div>

            </section>
            <section class="features features-5 bgdark">
                <div class="container">
                    <div class="row v-align-children">

                        <div class="col-sm-6 grid_5 feature text-right">
                            <h2>Un contenu<br>unique en son genre.</h2>
                            <p>
                                VYPER s'appuie sur des rédacteurs compétents ainsi que l'ensemble de ses partenaires pour fournir à ses lecteurs le meilleur du J-Rock et Visual-Kei.
                            </p>
                        </div>

                        <div class="col-sm-6 grid_6 text-center feature">
                            <img alt="Feature Image" src="/bundles/vypersite/img/bg/cross.png">
                        </div>

                    </div>
                </div>
            </section>


            <section class="features features-4">
                <div class="container">
                    <div class="row v-align-children">
                        <div class="col-sm-6 grid_6 text-center feature">
                            <img alt="Feature Image" src="/bundles/vypersite/img/bg/luna2.png">
                        </div>

                        <div class="col-sm-6 grid_5 col-md-offset-1 feature">
                            <h2>
                                L'actualité complète et variée dans un seul magazine
                            </h2>
                            <p>
                                VYPER propose articles spéciaux, photos exclusives, live report interviews et autres promotions et découvertes.
                            </p>
                        </div>
                    </div>
                </div>
            </section>




            <section class="pricing pricing-1 bgdark pricing-subscriptions">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h3>VYPER à toutes les sauces.</h3>
                            <h5>

                                Choisissez parmi les 3 formules que nous vous proposons, celle qui vous convient le mieux.<br>
                                Visu, Pop ou Rock, le magazine VYPER assurément chez vous.

                            </h5>
                        </div>
                    </div>

                    <div class="row">
                        <a href="http://boutique.vyper-jmusic.com/index.php?id_product=6&controller=product">
                            <div class="col-sm-4 grid_4 text-center pricing-option">
                                <h6>Visu</h6>
                                <div class="price-container">
                                    <span class="price">45</span>
                                    <span class="dollar">€</span>
                                    <span class="terms">TTC</span>
                                </div>
                                <h5>Abonnement de 1 an</h5>
                                <ul>
                                    <li>Souscrit en France Métropolitaine</li>
                                    <li><strong>Au lieu de 50€ TTC</strong></li>
                                </ul>
                            </div>
                        </a>

                        <a href="http://boutique.vyper-jmusic.com/index.php?id_product=7&controller=product">
                            <div class="col-sm-4 grid_4 text-center pricing-option active">
                                <h6>Pop</h6>
                                <div class="price-container">
                                    <span class="price">65</span>
                                    <span class="dollar">€</span>
                                    <span class="terms">TTC</span>
                                </div>
                                <h5>Abonnement de 1 an + HS</h5>
                                <ul>
                                    <li>Souscrit en France Métropolitaine</li>
                                    <li><strong>Au lieu de 75€ TTC</strong></li>
                                </ul>
                            </div>
                        </a>

                        <a href="http://boutique.vyper-jmusic.com/index.php?id_product=8&controller=product">
                            <div class="col-sm-4 grid_4 text-center pricing-option">
                                <h6>Rock</h6>
                                <div class="price-container">
                                    <span class="price">80</span>
                                    <span class="dollar">€</span>
                                    <span class="terms">TTC</span>
                                </div>
                                <h5>Abonnement de 2 ans</h5>
                                <ul>
                                    <li>Souscrit en France Métropolitaine</li>
                                    <li><strong>Au lieu de 100€ TTC</strong></li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p>Besoin d'infos supplémentaires? <a href="{{ path('vyper_site_contact') }}">Contactez-nous</a>, VYPER vous répond dans les 24 heures !</p>
                        </div>
                    </div>
                </div>
            </section>



            <section class="features features-13 red">

                    <div class="row">
                        <div class="col-md-9 grid_9 text-right">
                            <h5 class="text-white">Profitez maintenant du magazine le plus complet en France ainsi que des avantages exclusifs proposés par VYPER</h5>

                        </div>

                        <div class="col-md-3 grid_3">
                            <a class="qbutton white" href="http://boutique.vyper-jmusic.com/index.php?id_category=13&amp;controller=category">JE M'ABONNE</a>
                        </div>

                    </div>

            </section>






        </div>

    {% endblock %}